@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}
* {
  margin: 0 auto;
}
/* Shared style */

.display-flex {
  display: flex;
}
.text-center {
  text-align: center;
}

.text-primary {
  color: #ff900e;
}
/* dark 01 */
.text-black {
  color: #131313;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark03 */
.text-light-gray {
  color: #727272;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.primary-description {
  font-size: 16px;
  color: #727272;
}

/* nav related style */
.navbar {
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.nav-links {
  gap: 20px;
}

.brand a {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  list-style: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  font-size: 1.2rem;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
}
.header {
  margin: 0 auto;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner style */

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-bottom: 20px;
}
.btn-banner {
  margin-bottom: 50px;
}
.banner-content {
  margin-top: 120px;
}
